@import "tailwindcss";

@font-face {
  font-family: "Roboto Slab";
  src: url("./assets/fonts/RobotoSlab/RobotoSlab-VariableFont_wght.ttf")
    format("woff2");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
    format("woff2");
}

@theme {
  --font-serif: "Roboto Slab", sans-serif;
  --font-sans: "Roboto", serif;

  /* Neutral */
  --color-neutral-950: #000;
  --color-neutral-500: #6f6f6f;
  --color-neutral-200: #e4e4e4;
  --color-neutral-100: #f5f5f5;
  --color-neutral-0: #ffffff;

  /* Slate */
  --color-slate-950: #1d1f22;
  --color-slate-800: #2b2d31;
  --color-slate-700: #35393f;
  --color-slate-500: #5a6069;
  --color-slate-400: #7c8187;
  --color-slate-300: #c1c4cb;

  /* Orange */
  --color-orange-600: #e60013;
  --color-orange-400: #f39765;
}
